<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ajouter un livreur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="form-container">
    <ion-item>
      <ion-icon slot="start" name="person"></ion-icon>
      <ion-input type="text" name="name" [(ngModel)]="livreur.name" placeholder="Nom du livreur" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="mail"></ion-icon>
      <ion-input type="email" name="email" [(ngModel)]="livreur.email" placeholder="Email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="call"></ion-icon>
      <ion-input type="tel" name="phone" [(ngModel)]="livreur.phone" placeholder="Téléphone" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="lock-closed"></ion-icon>
      <ion-input placeholder="Mot de passe" [(ngModel)]="livreur.password" type="password" required>
  
      </ion-input>
    </ion-item>

    <ion-button expand="block" (click)="addLivreur()">Ajouter le livreur</ion-button>
  </div>
</ion-content>
